{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": 0,
    "brace-style": [2, "stroustrup"],
    "comma-dangle": 0,
    "jsx-quotes": [2, "prefer-single"],
    "react/jsx-closing-bracket-location": [2, "props-aligned"],
    "react/jsx-no-bind": [2, {
      "allowArrowFunctions": true,
      "allowBind": false
    }],
    "max-len": [2, 120],
    "new-cap": 0,
    "no-confusing-arrow": 0,
    "no-else-return": 0,
    "quotes": [2, "single"],
    "react-prefer-stateless": 0,
    "semi": [2, "never"]
  }
}
