<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'/>
    <style>
      body {
        font-family: Roboto, sans-serif;
        -webkit-font-smoothing: antialiased;
      }
      h1, h2, h3 {
        font-weight: 300;
      }
    </style>
    <script>
      window.app = {
        name: '<%= name %>'
      }
    </script>
  </head>
  <body style="margin: 0">
    <div id="app"></div>
    <script src="/bundle/bundle.js"></script>
    <script src="/sw.js"></script>
  </body>
</html>
